<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>{{ page.title }}</title>
	<link href="/assets/css/grid.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/assets/css/typo.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="/assets/image/favicon.png"/>
	<link href="http://feeds.feedburner.com/ZsoltTakacs" rel="alternate" title="Zsolt Takács (oker1)" type="application/atom+xml" />
</head>

<body id="{{ page.layout }}">

	<div class="row row_12">
			<div class="column grid_12">
				<a href="/"><h1>Zsolt Takács (oker1)</h1></a>
			</div>
	</div>

	{{ content }}

	<a href="http://github.com/oker1"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://d3nwyuy0nl342s.cloudfront.net/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" /></a>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-9512092-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
